.caption {
  color: rgb(20, 4, 66);
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
  max-width: 250px;
}

.dark-mode-caption {
  color: rgb(230, 230, 240);
}

.caption-border {
  width: 290px;
  border-bottom: 2px solid rgb(20, 4, 66);
  display: flex;
  justify-content: space-between;
}

.dark-mode-caption-border {
  width: 290px;
  border-bottom: 2px solid rgb(188, 188, 214);
}
