.head {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 50px;
  color: rgb(20, 4, 66);
  background: rgb(230, 228, 235);
  padding-bottom: 10px;
  align-items: flex-end;
  padding: 10px;
}

.cards-number {
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-title {
  width: 100%;
}

.link {
  color: rgb(20, 4, 66);
  margin: 10px 20px 10px 20px;
  font-size: 25px;
}

.active-link {
  color: rgb(34, 4, 116);
  margin: 10px 20px 10px 20px;
  font-size: 25px;
}

.link:hover,
.active-link:hover {
  text-decoration: none;
}
