.caption {
  border-bottom: 2px solid rgb(20, 4, 66);
  color: rgb(20, 4, 66);
  padding-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
}

.dark-mode-caption {
  border-bottom: 2px solid rgb(188, 188, 214);
  color: rgb(230, 230, 240);
}
